<h1>Bienvenido a mi chat de websocket</h1>

<div>
    <input type="text" id="chatBox" placeholder="Escribe tu mensaje aquí...">
</div>

<div>
    <p id="messagesLogs"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.8.1/dist/socket.io.min.js"></script>
<script src="/js/index.js"></script>